@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Kanit", sans-serif;
}
body{
    background-color: #17a2b8;
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
}
img{
    height: 200px;
    width: 200px;
}
h4{
    text-align: center;
    font-size: 20px;
}
#RS{
    border-radius: 6px;
    background-color: #ccc;
    border: 0;
}